<nav class="container-fluid p-0">
    <div class="row g-0">
        <div class="col-4">
            <button class="btn btn-outline-primary w-100 rounded-0 rounded-start py-2" routerLink="/main/view-speeches"
                routerLinkActive="btn-primary text-white">
                View my Speeches
            </button>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-primary w-100 rounded-0 py-2 border-start-0 border-end-0"
                routerLink="/main/submit-speech" routerLinkActive="btn-primary text-white">
                Submit a new Speech
            </button>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-primary w-100 rounded-0 rounded-end py-2" routerLink="/main/search-speeches"
                routerLinkActive="btn-primary text-white">
                Search all Speeches
            </button>
        </div>
    </div>
</nav>