.side-tab {
  cursor: pointer;
  transition: all 0.3s ease;

  @media (max-width: 576px) {
    width: 100%;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &.active {
    background-color: var(--light-green);
    color: white;
  }
}
